RewriteEngine On
RewriteBase /

### MAINTENANCE-PAGE REDIRECT
#
# ENABLE MAINTENANCE MODE:
# - uncomment following lines
# - enter your IP in second (IP4) or third (IP6) line
# - disable all htaccess in subdirs (remove . from filename = ".htaccess" -> "htaccess"
#
# DISABLE MAINTENANCE MODE
# - comment following lines
# - enable htaccess in subdirs ("htaccess" -> ".htaccess")
#
#################################

#RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
#RewriteCond %{REMOTE_ADDR} !^2003:cc:709:0:896:c6b7:c7e8:c5df
#RewriteCond %{REQUEST_URI} !error/maintenance.html$ [NC]
#RewriteRule .* /error/maintenance.html [R=302,L]

### END OF MAINTENANCE-PAGE REDIRECT




### RESTRICTED FOLDER
RewriteRule ^(.*)const/server(.*)$ / [R=301,L,NC]
RewriteRule ^(.*)server/server(.*)$ / [R=301,L,NC]
RewriteRule ^(.*)site/server(.*)$ / [R=301,L,NC]
RewriteRule ^(.*)site/content(.*)$ / [R=301,L,NC]



### CONTENT LOADER

# Keep this subfolders untouched
RewriteRule ^(api|display.php)($|/) - [L]

# Check if this looks like a mobile device
RewriteCond %{HTTP:x-wap-profile} !^$ [OR]
RewriteCond %{HTTP:Profile}       !^$ [OR]
RewriteCond %{HTTP_USER_AGENT} "acs|alav|alca|amoi|audi|aste|avan|benq|bird|blac|blaz|brew|cell|cldc|cmd-" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "dang|doco|eric|hipt|inno|ipaq|java|jigs|kddi|keji|leno|lg-c|lg-d|lg-g|lge-" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "maui|maxo|midp|mits|mmef|mobi|mot-|moto|mwbp|nec-|newt|noki|opwv" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "palm|pana|pant|pdxg|phil|play|pluc|port|prox|qtek|qwap|sage|sams|sany" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "sch-|sec-|send|seri|sgh-|shar|sie-|siem|smal|smar|sony|sph-|symb|t-mo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "teli|tim-|tosh|tsm-|upg1|upsi|vk-v|voda|w3cs|wap-|wapa|wapi" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "wapp|wapr|webc|winw|winw|xda|xda-" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "up.browser|up.link|windowssce|iemobile|mini|mmp" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "symbian|midp|wap|phone|pocket|mobile|pda|psp" [NC,OR]

# Or if cookie is set to mobile
RewriteCond %{HTTP_COOKIE} ^.*device=m.*$ [NC]

# And if cookie is not set to desktop
RewriteCond %{HTTP_COOKIE} !^.*device=d.*$ [NC]

# Then show mobile site
RewriteRule ^([^\.]*)$ mobile.php?request=$1 [QSA]

# Else show desktop site
RewriteRule ^([^\.]*)$ desktop.php?request=$1 [QSA]