<?php
	
	error_reporting(0);
	
	define('SERVER_ADDR', 'https://' . $_SERVER['SERVER_NAME'] . '/');
	
	/*
	 * How to request REFRESH_TOKEN:
	 *
	 * go to developer.spotify.com
	 *   create an app
	 *   get client_id and client_secret
	 *   save both here in the corresponding php constants
	 *
	 * call this in a browser:
	 *   https://accounts.spotify.com/authorize?client_id=*****&response_type=code&redirect_uri=https%3A%2F%2Fsandbox.ostertun.net&scope=user-read-playback-state+user-read-currently-playing+user-modify-playback-state+playlist-read-collaborative+playlist-modify-private+playlist-modify-public+playlist-read-private+streaming
	 *   set the client id and redirect_uri
	 *   redirect_uri must be whitelisted in developer.spotify.com (case sensitive etc - must be exactly the same)
	 *  => you get an authorization code (AUTH_CODE)
	 *
	 * now call with curl or similar:
	 *   https://accounts.spotify.com/api/token
	 *     POST: 'grant_type=authorization_code&redirect_uri=https%3A%2F%2Fsandbox.ostertun.net&client_id=*****&client_secret=*****&code=AUTH_CODE'
	 *   set redirect_uri, client_id, client_secret and AUTH_CODE
	 *  => you get:
	 *      - access_token     unimportant - can automatically be regenerated
	 *      - refresh_token    that is, what we want! save it here as php constant (REFRESH_TOKEN)
	 */
	define('CLIENT_ID', '*****');
	define('CLIENT_SECRET', '*****');
	define('REFRESH_TOKEN', '**********');
	
// JQUERY NORMAL URL
	define('JQUERY_URL1', 'https://code.jquery.com/jquery-1.9.1.min.js');
	define('JQUERY_URL2', 'https://code.jquery.com/ui/1.10.3/jquery-ui.js');
// JQUERY DOWNLOADED FOR XAMPP
	//define('JQUERY_URL1', 'http://localhost/jquery/jquery-1.9.1.min.js');
	//define('JQUERY_URL2', 'http://localhost/jquery/ui/1.10.3/jquery-ui.js');
	
?>